body{
    background-image: url('./img/fundo-minimalista-escuro.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}